<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common::page_head('管理者トップ')}">
</head>

<body>
	<header th:replace="~{parts/common :: page_header}"></header>
	
	<main>
    <th:block th:if="${session.loginId}">
    <h1>管理者ページ</h1>
		<div class="displey">
			<div><a th:href="@{/admin/itemlist}">
				商品一覧<br> <img src="images/Item1.jpg" class="d-block w-75"
					alt="..."></a>
			</div>
			<div>
				ユーザー一覧<br> <img src="images/Item2.jpg" class="d-block w-75"
					alt="...">
			</div>
			<div>
				comingsoon<br> <img src="images/Item3.jpg" class="d-block w-75"
					alt="...">
			</div>
			<div>
				comingsoon<br> <img src="images/Item4.jpg" class="d-block w-75"
					alt="...">
			</div>
		</div>
    </th:block>
    
    <th:block th:unless="${session.loginId}">
    <h1>管理者ログイン</h1>
        <form class="row g-3 size" action="" method="post" th:object="${admin}">
            <div class="col-md-12">
                <label for="inputId4" class="form-label">ID</label>
                <span th:errors="*{loginId}" class="error"></span>
                <input type="text" class="form-control" th:field="*{loginId}">
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" th:field="*{loginPass}">
              </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">ログイン</button>
              </div>
        </form>
        </th:block>
    </main>
    
	<footer> </footer>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>