<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ItemMapper">

	<select id="selectAll" resultType="Item">
		SELECT * FROM items
	</select>

	<select id="selectById" parameterType="int" resultType="Item">
		SELECT
		items.id, items.item_name, items.price,
		items.item_introduction,
		items.photo
		FROM items
		WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="Item">
		INSERT INTO items (item_name,
		price, item_introduction, photo)
		VALUES (#{itemName}, #{price},
		#{itemIntroduction}, #{photo})
	</insert>

	<update id="update" parameterType="Item">
		UPDATE items
		SET item_name =
		#{itemName}, price = #{price},
		item_introduction = #{itemIntroduction},
		photo = #{photo}
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM items WHERE id =
		#{id}
	</delete>


</mapper>