<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common::page_head('全商品一覧')}">
</head>
<body>
<header th:replace="~{parts/common :: page_header}"></header>
  <main>
        <contents>
      <h1>全商品一覧</h1>
      <div  class="displey">
        <div class="itemlist" th:each="item : ${items}">
         [[${item.itemName}]]<br>
          <img th:src="@{/uploads/{img}(img=${item.photo})}" class="d-block w-75" alt="...">
          [[${item.itemIntroduction}]]<br>
          [[${item.price}]]円
          <hr>
        </div>
      </div>
      <br>
      <div>
      <a th:href="@{/top}">
        <button type="submit" class="btn btn-primary">TOPへ戻る</button>
    </a>
</div>
    </contents>
    <hr>
  </main>
  <footer th:replace="~{parts/common :: page_footer}"></footer>
<th:block th:replace="~{parts/common::script}"></th:block>
</body>

</html>